/* The sidebar menu */
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 200px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  margin: auto;
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #35424a; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

/* The navigation menu links */
.sidenav a {
  padding: 10px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #ffffff;
  display: block;
  min-width: 70px;
  margin-left: 10px;
}
.sidenav a:hover{
  color=#cccccc;
  background-color: #000000;
}

.sidenav img{
  border-radius: 50%;
  margin: 10% 0 0 12%;
}

.articles_list{
  margin: 5% 0 0 15%;
}

.main{
  margin: 5% 0 0 250px;
}

#about_me {
  margin-top: 120px;
}
